@import "_functions.less";

@neutral-color: #909090;
@round-button-size: 75px;

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
}

.round-btn {
    background-image: none;
    background-color: #a0a0a0;
    height: @round-button-size;
    border-radius: @round-button-size / 2;
    border: 2px solid @neutral-color;
    min-width: @round-button-size;
    font-size: @round-button-size * 0.75;
    // box-shadow: 2px 2px 3px @neutral-color;
    margin: 3px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    .fa {
        vertical-align: middle;
    }
    .text {
        font-weight: bold;
        font-family: monospace;
        vertical-align: middle;
    }
    .text-large {
        text-align: center;
        font-weight: bold;
        font-family: monospace;
        font-size: @round-button-size * 1.25;
        padding: @round-button-size * 0.25;
        vertical-align: middle;
    }
    .text-small {
        font-size: @round-button-size * 0.5;
        font-family: monospace;
    }
}

@media (max-width: 1000px), (max-height: 1000px) {
    @round-button-size: 70px;
    .round-btn {
        height: @round-button-size;
        border-radius: @round-button-size / 2;
        border: 2px solid @neutral-color;
        min-width: @round-button-size;
        font-size: @round-button-size * 0.75;
        .text-large {
            font-size: @round-button-size;
            padding: @round-button-size * 0.1;
        }
        .text-small {
            font-size: @round-button-size * 0.5;
        }
    }
}

@media (max-width: 800px), (max-height: 800px) {
    @round-button-size: 60px;
    .round-btn {
        height: @round-button-size;
        border-radius: @round-button-size / 2;
        border: 2px solid @neutral-color;
        min-width: @round-button-size;
        font-size: @round-button-size * 0.75;
        .text-large {
            font-size: @round-button-size * 1;
            padding: @round-button-size * 0.1;
        }
        .text-small {
            font-size: @round-button-size * 0.5;
        }
    }
}

@media (max-width: 600px), (max-height: 600px) {
    @round-button-size: 40px;
    .round-btn {
        height: @round-button-size;
        border-radius: @round-button-size / 2;
        border: 2px solid @neutral-color;
        min-width: @round-button-size;
        font-size: @round-button-size * 0.75;
        .text-large {
            font-size: @round-button-size;
            padding: @round-button-size * 0.1;
        }
        .text-small {
            font-size: @round-button-size * 0.5;
        }
    }
}

@media (max-width: 500px), (max-height: 500px) {
    @round-button-size: 25px;
    .round-btn {
        height: @round-button-size;
        border-radius: @round-button-size / 2;
        border: 2px solid @neutral-color;
        min-width: @round-button-size;
        font-size: @round-button-size * 0.75;
        .text-large {
            font-size: @round-button-size;
            padding: @round-button-size * 0.1;
        }
        .text-small {
            font-size: @round-button-size * 0.5;
        }
    }
}

.really-round {
}

.no-height {
    height: auto;
}

.btn-dark {
}

.almost-hidden {
    opacity: 0.1;
}

.no-wrap {
    white-space: nowrap;
}

.main {
    .flex_vertical();
    background-color: #ffffff;
    .round-btn {
        color: #ffffff;
    }
}

.main-dark {
    background-color: #000000;
    .round-btn {
        background-color: @neutral-color;
    }
}

.main-menu {
    padding: 5px;
    height: 2 * @round-button-size;
    text-align: right;
    line-height: 2 * @round-button-size;
    .flex(0);
}

.main-area {
    .flex(1);
    .flex_vertical();
    .flex_align(center);
    .flex_cross_align(center);
}

.main-surface {
    .flex(0);
    width: 1000px;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: rgba(127, 127, 127, 0.2);
    position: relative;
}

@media screen and (min-aspect-ratio: 1/1) {
    .main {
        .flex_horizontal();
    }

    .main-menu {
        width: 2 * @round-button-size;
        height: auto;
        text-align: center;
        line-height: @round-button-size;
    }
}

.room-wrap {
    position: absolute;
    box-sizing: border-box;
    .flex_vertical();
}

.room {
    .flex(1);
    border: 1px solid @neutral-color;
    border-radius: 6px;
    box-shadow: 0 0 5px @neutral-color;
    margin: 5px;
    .flex_vertical();
}

.room-side {
    .flex(1);
    position: relative;
}

.room-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    max-height: 100%;
}

.room-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    max-height: 100%;
    text-align: right;
}

.sensor_dt_root {
    display: inline-block;
    font-weight: bold;
    font-family: monospace;
}

.sensor_dt_time {
}

.sensor_dt_date {
    .flex_horizontal();
}

.sensor_dt_day {
    .flex(0);
}

.sensor_dt_week_month {
    .flex(1);
    .flex_vertical();
    text-align: left;
}

.sensor_dt_week, .sensor_dt_month {
    .flex(1);
}

.main-messages {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
}

.one-message {
    margin: 5px;
    padding: 10px;
    z-index: 100;
    font-size: 25px;
    background-color: #ffc0cb;
    border: 3px solid #cfa0ab;
    color: #000000;
}

